.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    border-radius: 15px;
}

.form{
    display: flex;
    flex-direction: column;
}

.ulContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}