.NavbarContainer{
    background-color: #e04444;
    height: 8vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.heading{
    margin: 2px;
}